# IDE things
.cproject
.settings
.project
.deps
.dirstamp
/src/BROWSE
/src/TAGS
/TAGS
auto

# Build things
*.o
*.out
*.orig
/Makefile
/Makefile.in
/build-aux
*.dot
/src/precompiled.hxx.gch
/aclocal.m4
/autom4te.cache/
/maxcc
/config.log
/config.status
/configure

# Tex things
/doc/reports/interim/bib/auto/bibliography.el
*.log
*.pdf
/doc/papers/ASAP/report.tex
/doc/reports/interim/report.tex
*.a
*.aux
/doc/reports/interim/report-blx.bib
/doc/reports/interim/report.run.xml
/doc/reports/interim/report.toc
/test/projects/1d_convolution/engine/Cmdread.java
/test/projects/1d_convolution/engine/Cmdwrite.java
/test/projects/1d_convolution/engine/Convolution1d.java
/test/projects/rtm_float_multi/engine/Cmdread.java
/test/projects/rtm_float_multi/engine/Cmdwrite.java
/test/projects/rtm_float_multi/engine/RTM.java
