# IDE things
.cproject
.settings
.project
.deps
.dirstamp
/src/BROWSE
/src/TAGS
/TAGS
auto

# Build things
*.o
*.out
*.orig
/Makefile
/Makefile.in
/build-aux
*.dot
/src/precompiled.hxx.gch
/aclocal.m4
/autom4te.cache/
/maxcc
/config.log
/config.status
/configure
/test_run
/tools
build

# Tex things
/doc/reports/interim/bib/auto/bibliography.el
*.log
*.pdf
/doc/papers/ASAP/report.tex
/doc/reports/interim/report.tex
*.a
*.aux
/doc/reports/interim/report-blx.bib
/doc/reports/interim/report.run.xml
/doc/reports/interim/report.toc
/test/projects/1d_convolution/engine/Cmdread.java
/test/projects/1d_convolution/engine/Cmdwrite.java
/test/projects/1d_convolution/engine/Convolution1d.java
/test/projects/rtm_float_multi/engine/Cmdread.java
/test/projects/rtm_float_multi/engine/Cmdwrite.java
/test/projects/rtm_float_multi/engine/RTM.java
/test/projects/rtm_float_multi/exploded/*
exploded/*
/test/projects/rtm_rtreconf/exploded/rtm_float_multi_1Pipes_0.5DSPFactor_303MHzMem_100MHzStream/cpu/computation.c
/test/projects/rtm_rtreconf/exploded/*
/test/testRTMStatic-64bit/engine/Cmdread.java
/test/testRTMStatic-64bit/engine/Cmdwrite.java
/test/testRTMStatic-64bit/engine/RTM.java
/test/testRTMStatic/exploded/*
*.bbl
*.blg
*.pdf_tex
/doc/pres/meng/presentation.nav
/doc/pres/meng/presentation.snm
/doc/pres/meng/presentation.toc
/doc/pres/meng/presentation.vrb
rose_*
core
engine/*
/demos/black-scholes/engine/*.java
/demos/vector-add/engine/*.java
*.class
/example/bitonic_sort/engine/*.java
/doc/reports/final/report.dvi
/doc/reports/final/report.lof
/doc/reports/final/report.lol
/doc/reports/final/report.lot
/doc/reports/final/report.toc
/example/bitonic_sort/build/engine/*.java
/test/testRTMStatic/engine/*.java
/test/testRTMStatic/maxc/build/
/fastc
