.cproject
.settings
.project
.deps
.dirstamp
*.o
*.out
*.orig
/Makefile
/Makefile.in
/build-aux
*.dot
/src/precompiled.hxx.gch
/src/BROWSE
/src/TAGS
/config.log
/config.status
/configure
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/
